:root {  /* light mode */
  /* body */
  --fg: #222;
  --bg: #fafaff;
  /* color of a */
  --an: #009;  /* normal */
  --ah: #00f;  /* hover */
  --aa: #08f;  /* active */
  /* color of h2 > a */
  --hn: #000080;
  --hh: #0000e0;
  --ha: #0080d0;
  /* others */
  --hl: #007;  /* color of h2 surrounding lines */
  --bq: #bbc;  /* blockquote's side border */
  --ft: rgba(  0,   0, 255, 0.1);  /* .footer's bg (its border is --hl) */
  --al: rgba(255,  32,  32, 0.1);  /* .alert's bg */
  --AL: rgba(255,  32,  32, 0.4);  /* .alert's border */
}

@media (prefers-color-scheme: dark) {
:root {
  /* body */
  --fg: #eee;
  --bg: #322;
  /* color of a */
  --an: #daa;
  --ah: #fba;
  --aa: #ffa;
  /* color of h2 > a */
  --hn: #daaaaa;
  --hh: #facaaa;
  --ha: #faeaaa;
  /* others */
  --hl: #faa;
  --bq: #cbb;
  --ft: rgba(255, 128, 128, 0.15);
  --al: rgba(255,  12,  12, 0.3);
  --AL: rgba(255,  12,  12, 0.8);
}
}

body {
  font-family: serif;
  width: min(85%, 35em);
  margin: auto;
  color: var(--fg);
  background: var(--bg);
}

/* lines around terms */
/* modified from https://codepen.io/oaviv/pen/GqXwYp
   (found at https://uicookies.com/html-hr-css/) */
h2 {
  display: flex;
  align-items: center;
  text-align: center;
  color: navy;
}
h2:after, h2:before {
  content: '';
  flex-grow: 1;
  height: 1px;
  background: var(--hl);
  min-width: 1em;
  margin: auto;
}
h2:before { margin-left:  0.5em }
h2:after  { margin-right: 0.5em }

a        { color: var(--an) }
a:hover  { color: var(--ah) }
a:active { color: var(--aa) }

a:not(.out) { text-decoration: none }
a:hover { text-decoration: underline }

h2 a        { color: var(--hn) }
h2 a:hover  { color: var(--hh) }
h2 a:active { color: var(--ha) }

blockquote {
  border-right: 2px solid var(--bq);
  padding-right: 10px;
  margin-right: 0;
  position: relative;
}
blockquote:before {
  content: '”';
  font-size: 200%;
  display: block;
  position: absolute;
  top: -0.5rem;
  right: calc(-12px - 0.25em);
}

.seealso {
  margin-bottom: -1em;
}

.alert {
  padding: 1em;
  background: var(--al);
  border-bottom: 1px ridge var(--AL);
}

.footer {
  margin-top: 2em;
  padding: 1em;
  background: var(--ft);
  border-top: 1px solid var(--hl);
}

.emptypage {
  padding: 2em;
}
