:root {  /* light mode */
  /* body */
  --fs: #222; /* text color of the summary (highlighted) paragraph */
  --fg: #222;
  --bg: #f8f8ff;
  /* color of a */
  --an: #009;  /* normal */
  --ah: #00f;  /* hover */
  --aa: #08f;  /* active */
  /* color of h3 */
  --h3: #575786;  /* equiv to --hn with 0.35 opacity on a bg of --bg */
  /* color of h2 > a */
  --hn: #000080;
  --hh: #0000e0;
  --ha: #0080d0;
  /* color of .ext > li > a */
  --xn: #000080;
  --xh: #0000e0;
  --xa: #0080d0;
  /* color of current page in the navbar */
  --nv: #003;
  /* background of toc (fg is a's usual) */
  --tn: rgba(  0, 128, 255, 0.1);
  --th: rgba(  0, 154, 255, 0.1);
  --ta: rgba(  0, 196, 255, 0.1);
  /* others */
  --hl: #007;  /* color of h2 surrounding lines */
  --bq: #bbc;  /* blockquote's side border */
  --ft: rgba(  0,   0, 255, 0.1);   /* footer's bg (its border is --hl) */
  --al: rgba(255,  32,  32, 0.1);   /* .alert's bg */
  --AL: rgba(255,  32,  32, 0.4);   /* .alert's border */
  --sp: rgba(  0, 128, 255, 0.05);  /* summary paragraph's bg */
  --fl: rgba(255, 255, 255, 0.50);  /* toc_filter's bg when active */
  --cd: #efefff;  /* inline code */
  --op: 0.5;  /* .blurred's opacity */
}

@media (prefers-color-scheme: dark) {
:root {
  /* body */
  --fs: #ddd; /* text color of the summary (highlighted) paragraph */
  --fg: #d0d0d0;
  --bg: #322;
  /* color of a */
  --an: #daa;
  --ah: #fba;
  --aa: #ffa;
  /* color of h3 */
  --h3: #866666;  /* equiv to --hn with 0.50 opacity on a bg of --bg */
  /* color of h2 > a */
  --hn: #daaaaa;
  --hh: #facaaa;
  --ha: #faeaaa;
  /* color of .ext > li > a */
  --xn: #dbbbbb;
  --xh: #facaaa;
  --xa: #faeaaa;
  /* color of current page in the navbar */
  --nv: #eed0d0;
  /* background of toc (fg is a's usual) */
  --tn: rgba(255, 128,   0, 0.3);
  --th: rgba(255, 128,   0, 0.45);
  --ta: rgba(255, 128,   0, 0.6);
  /* others */
  --hl: #faa;
  --bq: #cbb;
  --ft: rgba(255, 128, 128, 0.15);
  --al: rgba(255,  12,  12, 0.3);
  --AL: rgba(255,  12,  12, 0.8);
  --sp: rgba(255, 128,   0, 0.1);   /* summary paragraph's bg */
  --fl: rgba(  0,   0,   0, 0.35);  /* toc_filter's bg when active */
  --cd: #503030;  /* inline code */
  --op: 0.35;  /* .blurred's opacity */
}
}

html {
  scroll-behavior: smooth;
  font-size: 20px;
}

body {
  font-family: "Amiri", "KacstOne", "Noto Naskh Arabic", "Noto Serif", serif;
  width: min(85%, 35em);
  margin: auto;
  color: var(--fg);
  background: var(--bg);
}

input {
  font-family: inherit;
  font-size: inherit;
}

/* lines around terms */
/* modified from https://codepen.io/oaviv/pen/GqXwYp
   (found at https://uicookies.com/html-hr-css/) */
h2 {
  display: flex;
  align-items: center;
  text-align: center;
  color: navy;
}

h2:after, h2:before {
  content: '';
  flex-grow: 1;
  height: 1px;
  background: var(--hl);
  margin: auto;
}
h2:before { margin-left:  0.5em }
h2:after  { margin-right: 0.5em }

h3 {
  color: var(--h3);
}

a        { color: var(--an) }
a:hover  { color: var(--ah) }
a:active { color: var(--aa) }


a { text-underline-offset: 35% }
a.other /* h2 in /link/index.html */
  { text-underline-offset: 45% }

/* make all links without underline */
a { text-decoration: none }

a:hover,
a:focus,
a.other { /* h2 in /link/index.html */
  text-decoration: underline;
  text-decoration-thickness: 1px;
  /* thickness is included in shorthand only in 2019 (FF) and 2020 (the rest) */
}

h2 > a        { color: var(--hn) }
h2 > a:hover  { color: var(--hh) }
h2 > a:active { color: var(--ha) }

.ext > li > a        { color: var(--xn) }
.ext > li > a:hover  { color: var(--xh) }
.ext > li > a:active { color: var(--xa) }

blockquote {
  border-right: 2px solid var(--bq);
  padding-right: 10px;
  margin-right: 20px;
  position: relative;
}
blockquote:before {
  content: '”';
  color: var(--bq);
  font-size: 200%;
  display: block;
  position: absolute;
  top: -0.5rem;
  right: -24px;
}

.seealso {
  margin-bottom: -1em;
}

.alert {
  text-align: center;
  padding: 1em;
  background: var(--al);
  border-bottom: 1px ridge var(--AL);
}

header {
  text-align: center;
  padding: 1em;
  background: var(--ft);
  border-bottom: 1px solid var(--hl);
}

footer {
  text-align: center;
  margin-top: 2em;
  padding: 1em;
  background: var(--ft);
  border-top: 1px solid var(--hl);
}

.emptypage {
  text-align: center;
  padding: 2em;
  margin-top: 2em; /* for symmetry b/c of footer */
}

.blurred {
  opacity: var(--op);
  transition: 0.5s;
}
.blurred:hover { opacity: 1 }

.toc {
  margin-top: 1em;
  text-align: center;
  direction: ltr;
}

.toc a {
  line-height: 2;
  border-radius: 1em;
  padding: 0 0.4em;
  background: var(--tn);
  white-space: nowrap;  /* don't break lines inside */
}

.toc a:hover {
  text-decoration: none;
  box-shadow: 0 0 1px 1px currentColor;
  background: var(--th);
}

.toc a:active {
  text-decoration: none;
  box-shadow: 0 0 2px 2px currentColor;
  background: var(--ta);
}

#toc_filter {
  margin: 2em 0 0 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  color: inherit;
  background: inherit;
  border: 1px solid var(--hl);
  line-height: 2;
  border-radius: 1em;
}
#toc_filter:focus,
#toc_filter:active {
  background: var(--fl);
}
#toc_filter:placeholder-shown {
  direction: rtl;
}

.toc > a.hidden {
  display: none;
}

h2 + p { /* the summary paragraph; highlighted differently */
  color: var(--fs);
  background: var(--sp);
}

h2 + p br { /* separate the different translations of a single term */
  /* https://stackoverflow.com/a/31633969 - may not work on Safari, but that's not a big issue */
  display: block; /* makes it have a width */
  content: ""; /* clears default height */
  margin-top: 0.5em; /* change the height */
}

center.redirect {
  margin-top: 2em;
}

/* stolen straight from MDN's example then modified heavily.
   https://developer.mozilla.org/en-US/docs/Web/HTML/Element/hr */
hr {
  border: none;
  color: var(--bq);
  overflow: visible;
  text-align: center;
  height: 0;
}

hr:after {
  content: '⁂';
  /* content: '٭٭٭'; */
  position: relative;
  top: -0.75em;
}

li {
  margin-right: -1em;
}
ol {
  list-style: arabic-indic;
}
/* <ol> shouldn't have 10 or more <li> (which is discouraged anyway) */

nav > a:not([href]) {  /* current page in the navbar */
  all: inherit;
  color: var(--nv);
  display: inline;
  font-weight: bold;
  text-decoration: none !important;  /* affects :focus, :hover, etc */
}

.title {
  font-size: 133%;
}

.logo > span {
  display: none;
}

.logo {
  background: url(favicon.svg);
  display: inline-block;
  height: 1.3em;
  width: 1.3em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.4em;
}

.license {
  font-size: 75%;
}

footer svg {  /* feed icon; don't change width or height */
  fill: currentColor;
  vertical-align: -.05em;
  /* TODO: text-underline => border */
}

code {
  background: var(--cd);
  border-radius: 0.75em / 0.5em;
}
